body {
    background-color: #8BC34A;
    font-family: 'Bitter', serif;
}

h1 {
    display: flex;
    justify-content: center;
}

.container {
    background-color: lightgray;
    display: absolute;
}

.col-6 .col-md-4 {
    display: flex;
    align-items: center;
}